/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
   .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }

    /*About Us - Header*/

.about_us {
    background-color: black;
    background-image: url(../images/title.jpg);
    background-size: cover;
    text-align: center;
    padding: 3em;
}

.title-about_us {
    font-weight: 800;
    font-size: 2.25rem;
}

.about_us--mask {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
}

.visionandmision {
    padding: 2em 1em 1em 1em;
    color: black;
    text-align: center;
}

.vision,
.mision {
    max-width: 500px;
    margin: 0 auto;
}

.subtitle--vision 
.subtitle--mision {
    font-weight: 700;
    font: serif;
}

@media (min-width: 800px){
    .visionandmision,
    .address {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .vision + .mision {
        margin-left: 2em;
    }
}

    /*About Us - Map*/
.map{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
    
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
   
   