.titleSL{
  padding-top: 10px;
  color: #5E6977;
  font-size: 20px;
  font-weight: 400;
  }
  /*.title2{
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }*/
    .item {
    padding: 20px 30px;
    height: 150px;
    width: 100%;
    display: flex;
 /* border-bottom: 1px solid #E1E8EE;*/
  }
  
    .buttons {
      position: relative;
      padding-top: 30px;
      margin-right: 60px;
  }


  .edit-btn {
    display: inline-block; 
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url("/img/edit.png") no-repeat center;
    padding-right: 70px;
    padding-top: 6px;
}
    .delete-btn {
      display: inline-block;
      cursor: pointer;
      width: 18px;
      height: 17px;
      background: url("/WebP-main/WebP/images/delete-icn.svg") no-repeat center;
      margin-right: 20px;
  }
  
    .like-btn {
      position: absolute;
      top: 9px;
      left: 15px;
      display: inline-block;
      background: url('/img/twitter-heart.png');
      width: 60px;
      height: 60px;
      background-size: 2900%;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  
    .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  
  .images {
    padding: 0.25rem;
    background-color: #fff;
    max-width: 100%;
    height: auto;
  }
  
  .description {
    padding-top: 30px;
    margin-right: 60px;
    width: 150px;
  }
  
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
  
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  
  .quantity {
    padding-top: 40px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  
  .button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  .button2 {
    width: 150px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    background-color: #E1E8EE;
    border-radius: 1px;
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 1px;
  }
  button:focus,
  input:focus {
    outline:0;
  }
  
  .total-price {
    width: 83px;
    padding-top: 40px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  .stock-avail {
    text-align: center;
    width: 83px;
    margin-top: 40px;
    font-size: 16px;
    background: #62c46f;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
  }

  .stock-notavail {
    text-align: center;
    width: 100px;
    margin-top: 40px;
    font-size: 16px;
    background: #d83c20;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
  }

  .sumPrice {
    padding: 20px 30px;
    color: #43484D;
    border-top: 3px solid #E1E8EE;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  #buttonz{
    background-color: #800808; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  #buttonz:hover {
    background-color: rgb(212, 218, 236);
  }

  .modal-content {
    color: #000;
  }

  .shoppingList {
    padding: 20px 30px;
    border-bottom: 1px solid #E1E8EE;
  }

  #mainList {
  padding: 20px 30px;
  }

  
  #secList {
    padding-left:20px;
    }