.productdesc{
    background-color:rgb(255, 255, 255);
    border-bottom: 2px solid black; 
    box-shadow: 0.5px 0.5px 5px 1px rgb(230, 228, 228);
}

#padmin{
    margin-bottom: 0px;
    font-size:large; 
    padding-bottom: 7px;
    color: rgb(0, 0, 0);
}
#padmin:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#EV {
    color: #fff;
    background-color: #800808;
}
  
#EV:hover {
    color: #fff;
    background-color:#a71d2a;
    text-decoration: underline;
}

.collapsible {
    background-color: rgb(172, 172, 172);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .descactive, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: none;
    overflow: hidden;
    background-color: #5e5656;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .descactive:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
