.profile{
    max-width: auto;
    margin: auto;
    position:relative;
    box-shadow: 0 10px 30px 0px rgb(65, 10, 10);
    padding: 20px;
}
.profile1{
    max-width: auto;
    margin: auto;
    position: relative;
    padding: 20px;
    border-style: solid;
    background-color: maroon;
    /*background: url("https://pa1.narvii.com/6858/e26e8ab2dafa669b84a7630303386edc667695a1_hq.gif");*/
}

form{
    margin: 2%;
}

.title{
    text-transform:capitalize;
    text-align: center;
    letter-spacing: 3px;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
    color:#bb4166f5;
    background: linear-gradient(to right, rgb(87, 14, 14) 30%,#8d1a3cf5 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.label{
    color: maroon; 
    font-size: medium; 
    font-weight: bold;
}

/*tester4.6*/
.wrapper2{
    height: 150px;
    width: 150px;
    position:relative;
    left: 30%;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
}

.wrapper{
    height: 200px;
    width: 200px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    background: url("images/abstract-user-flat-4.png");
    background-size: 100% 100%;
    margin: 30px auto;
    overflow: hidden;
}
.photo{
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 80px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0,0,0,0.5);
}
.photo::-webkit-file-upload-button{
    visibility: hidden;
}
.photo::before{
    content: '\f030';
    font-family: fontAwesome;
    font-size: 30px;
    color:#fff;
    display: inline-block;
    -webkit-user-select: none;
}
.photo::after{
    content: 'Update';
    font-family: 'arial';
    font-weight: bold;
    color:#fff;
    display: block;
    top: 70px;
    font-size: 10px;
}


.form-control-user{
    position:relative;
    display: block;
    color: rgb(87, 14, 14);
    width: 100%;
    display: block;
    border-width: 0 0 2px 0;
    border-color: #bb4166f5;
    font-weight: 400;
    transition: 0.2s ease;
    font-size: 16px;
    
}

.form-control:focus{
    outline: none;
}

.col-form-label{
    position:relative;
    bottom: 0px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px ;
    color: maroon; /*#c4466cf5;*/
    cursor:text;
    transition: transform 0.2s ease-out;
}

.submit-btn{
    
    position:relative;    
    background-image: linear-gradient(125deg,#971006, #a72879);
    color: white;
    text-transform: capitalize ;
    letter-spacing: 1px ;
    font-size: 14px;
    padding: 8px;
    border:none;
    margin-top: 2%;
    
    
}

.setting-btn{
    display: inline-block;
    background-image: linear-gradient(125deg,#971006, #a72879);
    color: white;
    text-transform: capitalize ;
    letter-spacing: 2px ;
    font-size: 14px;
    padding: 4px;
    border:none;
    width: 100px;
}
