.profile{
    max-width: 800px;
    margin: 90px auto;
    position: relative;
    /*box-shadow: 0 10px 30px 0px rgb(65, 10, 10);*/
    padding: 20px;
}
.profile1{
    max-width: auto;
    margin: auto;
    position: relative;
    padding: 20px;
    background: url("https://pa1.narvii.com/6858/e26e8ab2dafa669b84a7630303386edc667695a1_hq.gif");
}
/*
.profile{
    max-width: auto;
    margin: auto;
    position: relative;
    padding: 30px;
}*/
.title{
    text-transform:capitalize;
    text-align: center;
    letter-spacing: 3px;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
    color:#bb4166f5;
    background: linear-gradient(to right, rgb(87, 14, 14) 30%,#8d1a3cf5 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.navwrapper{
    height: 50px;
    width: 50px;
    position:relative;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
}
/*setting*/


.navwrapper1{
    height: 50px;
    width: 50px;
    position:relative;
    left: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;

}

/*tester4.6*/
.wrapper2{
    height: 200px;
    width: 200px;
    position:relative;
    left: 25%;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
}

/*TEST3
.wrapper1{
    height: 250px;
    width: 250px;
    position:relative;
    border: 5px solid #fff;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
}*/

.wrapper{
    height: 200px;
    width: 200px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    background: url("images/abstract-user-flat-4.png");
    background-size: 100% 100%;
    margin: 30px auto;
    overflow: hidden;
}
.photo{
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 80px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0,0,0,0.5);
}
.photo::-webkit-file-upload-button{
    visibility: hidden;
}
.photo::before{
    content: '\f030';
    font-family: fontAwesome;
    font-size: 30px;
    color:#fff;
    display: inline-block;
    -webkit-user-select: none;
}
.photo::after{
    content: 'Update';
    font-family: 'arial';
    font-weight: bold;
    color:#fff;
    display: block;
    top: 70px;
    font-size: 10px;
}

/*.form-control{
    position: relative;
    margin: 32px 0;
}*/

.form-control1{
    color: rgb(87, 14, 14);
    display: block;
    width: 100%;
    height: 36%;
    border-width: 0 0 2px 0;
    border-color: #bb4166f5;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    transition: 0.2s ease;
}
/*
.form-select {
    color: rgb(87, 14, 14);
    display: block;
    width: 100%;
    height: 35%;
    border-width: 0 0 2px 0;
    border-color: #bb4166f5;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    transition: 0.2s ease;
}*/

.alias{
    color: rgb(87, 14, 14);
    display: block;
    width: 15%;
    height: 30%;
    border-width: 0 0 2px 0;
    border-color: #bb4166f5;
    font-size: 20px;
    line-height: 16px;
    font-weight: 400;
    text-align: left ;
}  
.username{
    color: rgb(87, 14, 14);
    display: block;
    width: 85%;
    height: 30%;
    border-width: 0 0 2px 0;
    border-color: #bb4166f5;
    font-size: 19px;
    line-height: 19px;
    font-weight: 400;
}  



/*
input[type="password"],
input[type="date"],
input[type="text"],
input[type="email"]{
    display:block;
    box-sizing: border-box;
    background: none;
    color:salmon;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid wheat;
    font-family: monospace;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}*/

.form-control:focus{
    outline: none;
}

.form-label{
    position: relative;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color:#bb4166f5;
    cursor:text;
    transition: transform 0.2s ease-out;
}

.submit-btn{
    display: inline-block;
    background-image: linear-gradient(125deg,#971006, #a72879);
    color: white;
    text-transform: capitalize ;
    letter-spacing: 2px ;
    font-size: 16px;
    padding: 8px;
    border:none;
    width: 200px;
}

.setting-btn{
    display: inline-block;
    background-image: linear-gradient(125deg,#971006, #a72879);
    color: white;
    text-transform: capitalize ;
    letter-spacing: 2px ;
    font-size: 14px;
    padding: 4px;
    border:none;
    width: 100px;
}
